.App {
  max-width: 1550px;
  width: 100%;
  min-width: 100vh;
  text-align: center;
  margin: 0 auto;
  /* box-shadow: 0 5px 6px  #08a05c; */
  padding: 0 15px;
  box-sizing: border-box;
}

/* ------- imagebes Baners-------- */
.imagen-baner{ 
  width: 1215px;
  height: 550px;
} 
/* -------Barra Menu-------- */

.container-Layout{
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.main-menu li{
  list-style: none;  
  margin: 10px;
  font-size: 25px;
}

/* //------- */
.main-menu  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  padding-bottom: 30px;
}
.main-menu .btns {
  border: 2px solid #807e7d;
  padding: .25rem;
  border-radius: .2rem;
}

/* --------------Boton---------- */
.buttom .btn{
  background-color: rgb(255, 255, 255); 
  color: black; 
  border: 2px solid #7d8484;
}
.buttom button{
  color: white;
  /* padding: 15px 28px; */
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
/*------otro menu---*/


/* --------PRODUCTOS-------------- */
/* .espaciado{
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
   padding: 5rem 2rem;
  margin: 0 auto;
  grid:3rem 1rem ;
  box-sizing: border-box;  
 
.imgen img{
  width: 160%;
  height: 430px;
} */

.continer1{
  display: flex;
justify-content: 



}
.imgen img{
  width:200px ;
  height: 324px;
}

 



/* --------Fomulario----------- */
.wrapeer{
  height: 100vp;

}
.login{
  width: 300px;
  height: min-content;
  border-radius: 5px;
color: black;
  background-color:rgb(214, 233, 233) ;
}
.containerPrincipal {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid blue;
    padding: 40px;
    background-color: white;
}

.containerSecundario{
  text-align: center;
}


/* -----------------------MEDIA--------------------- */
@media only screen and (max-windth: 600px){
  .container-heder ul{
    display: none ;
  }
}
/*------table-------*/
@media (max-width: 952px){
  nav ul li a{
      font-size: 16px;
  }

}
/* ----------celular------------ */
@media (max-width: 858px){
   nav ul li a{
      display: block;
  } 
  

}





